@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
}
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<h1 style="text-shadow: 4px 4px 2px rgba(50, 168, 82,0.45);">Agregar o editar Veterinario</h1>

<form method="post" >
<input type="hidden" asp-for = "veterinario.Id" />

<table class="blueTable">
<tr><td><label asp-for="veterinario.Id"></label> </td><td><input readonly asp-for="veterinario.Id" class="form-control"></td></tr>
<tr><td width="200" nowrap><label asp-for="veterinario.Nombres"></label> </td><td width="200" nowrap><input asp-for="veterinario.Nombres" class="form-control"></td></tr>
<tr><td><label asp-for="veterinario.Apellidos"></label> </td><td><input asp-for="veterinario.Apellidos" class="form-control"></td></tr>
<tr><td><label asp-for="veterinario.Direccion"></label> </td><td><input asp-for="veterinario.Direccion" class="form-control"></td></tr>
<tr><td><label asp-for="veterinario.Telefono"></label> </td><td><input asp-for="veterinario.Telefono" class="form-control"></td></tr>
<tr><td><label asp-for="veterinario.TarjetaProfesional"></label> </td><td><input asp-for="veterinario.TarjetaProfesional" class="form-control"></td></tr>
<tr><td></td><td><button type="submit" class="btn btn-info btn-sm">Grabar</button>       <a asp-page="./ListaVeterinarios" class="btn btn-success btn-sm">Lista de Veterinarios </a></td></tr>
</table>
</form>
</body>
</html>