@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>

<div class="text-center">
    <h1 class="display-4"></h1>
    <h1 class="display-4" style="text-shadow: 4px 4px 2px rgba(50, 168, 82,0.45);">Proyecto Mascota Feliz</h1>
 <!--   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
<img src="~/css/intro.jpg" align="center" width="800" height="500">
</div>

</body>
</html>