@page
@model MascotaFeliz.App.Frontend.Pages.DetallesDuenosModel
@{
}
<h1>Detalles del Dueño</h1>

<div>
    Id:@Model.dueno.Id
</div>
<div>
    Id:@Model.dueno.Nombres
</div>
<div>
    Id:@Model.dueno.Apellidos
</div>
<div>
    Id:@Model.dueno.Direccion
</div>
<div>
    Id:@Model.dueno.Telefono
</div>
<div>
    Id:@Model.dueno.Correo
</div>
<a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños </a>